Source: libomxil-e4x12
Section: libs
Priority: extra
Maintainer: Hyunseok Lee <hs7388.lee@samsung.com>, JongHyuk Choi <jhchoi.choi@samsung.com>
Uploaders: Hyunseok Lee <hs7388.lee@samsung.com>, Dowan Kim <dowan2171.kim@samsung.com>, Sunghyun Eum <sunghyun.eum@samsung.com>, Seongho Jeong <sh33.jeong@samsung.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 1.1.0

Package: libomxil-e4x12-dev
Section: libdevel
Architecture: armel
Depends: libomxil-e4x12 (= ${Source-Version})
Description: development package for libomxil-e4x12

Package: libomxil-e4x12
Section: libs
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: implementation of OpenMAX IL for e4x12

Package: libomxil-e4x12-dbg
Section: debug
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}, libomxil-e4x12 (= ${Source-Version})
Description: debug package for libomxil-e4x12
